### **Libraries**

In [ ]:
import pandas as pd
import numpy as np

### **Load Dataset**

Data is stored as an Excel file. So, we use `Pandas` to load data.

In [4]:
def load_data(file_path):
    df = pd.read_csv(file_path)
    return df

In [5]:
file_path = '../../data/train.csv'
df = load_data(file_path)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1,Clinton Hill Apartment Single Bedroom ! Pratt ~~,30610258,Santiago,Brooklyn,Clinton Hill,40.69591,-73.96284,Private room,58,2,1,9/23/2018,0.10,1,0
1,2,Andy Phillips,6180052,Andrian,Brooklyn,Fort Greene,40.68769,-73.97490,Private room,99,5,4,9/29/2017,0.17,1,250
2,3,"Stylish, Comfortable, and Affordable in Brooklyn",5957027,Zachary,Brooklyn,Crown Heights,40.67667,-73.91750,Entire home/apt,180,2,126,6/14/2019,3.74,1,74
3,4,15 min train ride to Times Sq and US OPEN,101602599,M,Queens,Woodside,40.74340,-73.90588,Entire home/apt,50,1,95,6/24/2019,5.63,2,0
4,5,Sunny 2 bdrm Park Slope Apt w/ Yard 3min to Su...,106168581,Jason,Brooklyn,South Slope,40.66600,-73.99020,Entire home/apt,210,4,88,7/4/2019,4.41,1,20

### **Remove Extra Columns**

In this step, we should remove the columns that we don't need them.

In [ ]:
df = df.drop([])

In [6]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

### **Columns Typecasting**

Here we should make sure about the data type of each column.

In [50]:
print(df.dtypes)

Brand            object
Model            object
Year              int64
EngineSize      float64
Fuel             object
Transmission     object
Mileage           int64
Doors             int64
OwnerCount        int64
Price             int64
dtype: object

There is no issue in terms of data type and they are showing correct format.

### **Handle Missing Values**

We need to check for any missing values in the data. To do this, I will create a `for loop` to iterate through all the columns and determine whether they contain null values. I will calculate both the number of null values and the percentage of null values for each column.

In [51]:
for col in df.columns:
    number_null = df.loc[: , col].isnull().sum()
    perc_null = (number_null / df.shape[0]) * 100
    print('{} - {} - %{}'.format(col, number_null, round(perc_null,3)))

Brand - 0 - %0.0
Model - 0 - %0.0
Year - 0 - %0.0
EngineSize - 0 - %0.0
Fuel - 0 - %0.0
Transmission - 0 - %0.0
Mileage - 0 - %0.0
Doors - 0 - %0.0
OwnerCount - 0 - %0.0
Price - 0 - %0.0

The result shows, there is no any missing values in our data.

### **Handle Duplicate Rows**

We need to handle duplicate rows. Since all values may be the same, we only need to check if there are two rows where all values in every column match.

In [31]:
duplicate_rows = df.duplicated()

if duplicate_rows.any():
    print("There is Duplicate.")
else:
    print("No Duplications.")

No Duplications.

### **Numerical Sanity Check**

First of all, I declare all numerical variables. 
* Year
* EngineSize
* Mileage	
* Doors	
* OwnerCount	
* Price

In [52]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

The section on Columns Typecasting shows that these columns display numbers correctly. However, we should ensure that they contain data within a logical range.

In [53]:
df[numeric_columns].describe()

,Year,EngineSize,Mileage,Doors,OwnerCount,Price
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,2011.520375,2.996887,149477.003250,3.503625,2.991875,8828.745250
std,6.897792,1.153237,86613.284937,1.111482,1.420849,3132.164285
min,2000.000000,1.000000,25.000000,2.000000,1.000000,2000.000000
25%,2006.000000,2.000000,74192.250000,3.000000,2.000000,6604.750000
50%,2012.000000,3.000000,150069.500000,4.000000,3.000000,8829.000000
75%,2017.000000,4.000000,224292.750000,4.000000,4.000000,11071.000000
max,2023.000000,5.000000,299947.000000,5.000000,5.000000,18301.000000

The result shows all data are in correct and logical range.

### **Categorical Sanity Check**

First of all, I declare all categorical variables. 
* Brand
* Model
* Fuel	
* Transmission

In [54]:
cat_columns = df.select_dtypes(exclude=['int64', 'float64']).columns.tolist()

Then, we must make sure about the possible categories for each of them

In [55]:
def Cat_Checker(CatIndex):
    values = np.sort(df[cat_columns[CatIndex]].unique())
    return cat_columns[CatIndex] , values

In [56]:
Cat_Checker(0)

('Brand',
 array(['Audi', 'BMW', 'Chevrolet', 'Ford', 'Honda', 'Hyundai', 'Kia',
        'Mercedes', 'Toyota', 'Volkswagen'], dtype=object))

In [57]:
Cat_Checker(1)

('Model',
 array(['3 Series', '5 Series', 'A3', 'A4', 'Accord', 'C-Class', 'CR-V',
        'Camry', 'Civic', 'Corolla', 'E-Class', 'Elantra', 'Equinox',
        'Explorer', 'Fiesta', 'Focus', 'GLA', 'Golf', 'Impala', 'Malibu',
        'Optima', 'Passat', 'Q5', 'RAV4', 'Rio', 'Sonata', 'Sportage',
        'Tiguan', 'Tucson', 'X5'], dtype=object))

In [58]:
Cat_Checker(2)

('Fuel', array(['Diesel', 'Electric', 'Hybrid', 'Petrol'], dtype=object))

In [59]:
Cat_Checker(3)

('Transmission',
 array(['Automatic', 'Manual', 'Semi-Automatic'], dtype=object))

### **CHECKPOINT**

In [60]:
%store X_test
%store y_test
%store df
%store numeric_columns
%store cat_columns

Stored 'X_test' (DataFrame)
Stored 'y_test' (Series)
Stored 'df' (DataFrame)
Stored 'numeric_columns' (list)
Stored 'cat_columns' (list)